* {
    margin: 0;
}

body {
    color: #000;
    font-size: 1rem;
    font-family: Pretendard, Noto Sans KR, Malgun Gothic, 맑은고딕, Dotum, 굴림, Gulim, Helvetica, sans-serif;
    line-height: 1.5;
}

button {
    cursor: pointer;
}

.fav_nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fav_category {
    border: 0;
    background-color: transparent;
    margin: 10px;
    padding: 10px 15px;
    transition: background-color 0.3s ease-in-out;
}

.fav_category.active, .fav_category:hover {
    background-color: rgb(248, 243, 217);
    color: #707070;
}

.fav_no-items {
    width: 100%;
    min-height: 300px;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    color: #767676;
    border-radius: 8px;
    margin: 20px 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav_container {
    padding-top: 80px;
}

.fav_contents {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.fav_book-card {
    width: 220px;
}

.fav_book-thum {
    position: relative;
    margin: 0 auto;
    min-height: 200px;
    max-height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.fav_book-image {
    cursor: pointer;
    border: 1px solid #ddd;
    width: 170px;
    height: 240px;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    object-fit: cover;
}

.fav_book-image:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.fav_button-like {
    z-index: 2;
    position: absolute;
    bottom: -5px;
    right: 0;
    border: 0;
    padding: 0;
    font-size: 20px;    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: 20px;
    background-color: rgba(185, 178, 138, .4);
    color: red;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.fav_button-like:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateY(-3px);
}

.fav_blind {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

.fav_book-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 15px 20px;
    text-align: center;
}

.fav_book-card-text .fav_book-title {
    font-size: 16px;
    font-weight: 500;
    /* padding: 15px 20px 10px 25px; */
    color: #2d2d2d;
}

.fav_book-card-text .fav_book-author {
    font-size: 13px;
    font-weight: 400;
    color: #767676;

    display: -webkit-box;
    -webkit-line-clamp: 2; /* 최대 2줄 */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.fav_book-desc {
    display: none;
}

/* 페이지네이션 */
.fav_page-box {
    padding: 80px 0;
}

.pagination {
    font-size: 17px;
    color: #767676;
    display: flex;
    justify-content: center;
}

.page-link{
    border: none;
    color: #999;
    cursor: pointer;
  }
  
  .page-link:hover{
    background-color: #fff;
    border-color: #F8F3D9;
    color: #141414;
  }
  
  .active>.page-link, .page-link.active {
    background-color: rgba(185, 178, 138, .5);
    border-color: rgba(185, 178, 138, .5);
  }


/* 팝업 알람창 */
.fav_system-alert {
    display: none;
    position:fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.fav_dim {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0009;
}

.fav_system-alert .fav_popup {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 2.5rem);
    max-width: 400px;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.fav_pop-cont {
    padding: 2rem;
    text-align: center;
}

.fav_alert-msg {
    word-break: keep-all;
}

.fav_pop-foot {
    display: flex;
    justify-content: center;
}

.fav_pop-foot-button {
    font-family: inherit;
    height: 3.25rem;
    flex: 1;
    width: 100%;
    padding: 0 1rem;
    color: #fff;
    border-color: #000;
    background-color: #000;
    cursor: pointer;
}

@media (max-width: 1023px) {
    .fav_contents {
        justify-content: center;
    }
}


@media screen and (max-width: 700px) and (min-width: 400px) {
    .fav_contents {
        justify-content: center;
    }

    .fav_book-card {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 90%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 25px;
        overflow: hidden;
        margin: 10px auto;
        transition: transform 0.2s ease-in-out;
    }

    .fav_book-card:hover {
        transform: translateY(-3px);
    }

    .fav_book-thum {
        position: static;
        width: 40%;
        margin: 0;
    }

    .fav_book-image {
        width: 100%;
        transition: none;
        border-radius: 25px 0 0 25px;
        object-fit: cover;
    }

    .fav_book-image:hover {
        transform: none;
        box-shadow: none;
    }

    .fav_button-like {
        /* left: 0; */
        top: 10px;
        right: 10px;
    }

    .fav_book-card-text {
        justify-content: center;
        text-align: left;
        width: 60%;
    }

    .fav_book-desc {
        display: block;
        font-size: 13px;
        font-weight: 400;
        color: #333;

        display: -webkit-box;
        -webkit-line-clamp: 3; /* 최대 3줄 */
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }

    .fav_page-box {
        padding-top: 50px;
    }
}

@media screen and (max-width: 399px) {
    .fav_contents {
        justify-content: center;
    }
}
