<footer class="fixed-footer">
    <section class="footer-inner">
        <div class="footer-left">
            <div class="footer-info">
                <h1 class="footer-logo"><img src="/assets/Preview2.png" alt="logo"></h1>
                <ul class="footer-policy">
                    <li><a href="javascript:;">개인정보처리방침</a></li>
                    <li><a href="javascript:;">이용약관</a></li>
                    <li><a href="javascript:;">동네서점</a></li>
                    <li><a href="javascript:;">제휴문의</a></li>
                    <li><a href="javascript:;">기업제휴문의</a></li>
                </ul>
            </div>
            <ul class="footer-links">
                <li>070-1234-5678</li>
                <li>support@yourbooksite.com</li>
                <li>운영시간 : 평일 10:00 - 18:00 (점심시간 12:00 - 13:00)</li>
            </ul>
            <div class="footer-bottom">
                <p>© 2025 Your Book Site. All Rights Reserved.</p>
                <p>이 웹사이트는 알라딘 API를 활용하여 도서 정보를 제공합니다.</p>
            </div>
        </div>


        <div class="footer-right">
            <div class="footer-sns">
                <a href="javascript:;"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="javascript:;"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="javascript:;"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="javascript:;"><i class="fa-brands fa-square-youtube"></i></a>
            </div>


        </div>


    </section>
</footer>