* {
    margin: 0;
}

body {
    color: #000;
    font-size: 1rem;
    font-family: Pretendard, Noto Sans KR, Malgun Gothic, 맑은고딕, Dotum, 굴림, Gulim, Helvetica, sans-serif;
    line-height: 1.5;
}

/* 책 디테일 섹션 */

.detail_container > .detail_contents:first-child {
    padding-top: 80px;
}

.detail_container button {
    cursor: pointer;
    padding: 0;
    border: 0;
}

.detail_container ul, .detail_container li {
    list-style: none;
}

.detail_contents {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 1.25rem;
}
 
.detail_book-detail {
    display: flex;
    align-items: flex-start;
    padding-bottom: 80px;
}

.detail_button-area {
    flex-shrink: 0;
    position: relative;
    margin-right: 7.334%;
}

.detail_button-area button {
    display: block;
    font-size: 20px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-position: 50% 50%;
    background-size: 24px;
    transition: all 0.2s ease;
}

.detail_blind {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}

.detail_button-link {
    margin-bottom: 8px;
    color: white;
    background-color: #0000004d;
    background-repeat: no-repeat;
}

.detail_button-like {
    color: #333;
}

.detail_button-like.active, .detail_button-like:hover {
    color: red;
}

.detail_thumb {
    position: relative;
    width: 33.334%;
    margin-right: 5%;
}

.detail_book-detail .detail_thumb .detail_m_bg {
    display: none;
}

.detail_thumb img {
    width: 100%;
    max-width: 100%;
}

.detail_book-title {
    font-size: 28px;
    margin: 0;
}

.detail_sub-title {
    font-size: 18px;
    margin-top: .5rem;
}

.detail_book-info {
    width: 50%;
    padding: 22px 0 0;
    border-top: 2px solid #000;
}

.detail_bi-title {
    width: 120px;
    flex-shrink: 0;
    font-weight: 500;
}

.detail_summary {
    margin: 0;
    margin-top: 24px;
    padding: 19px 0 20px;
    border-top: 1px solid #f0f0f0;
}

.detail_summary li, .detail_basic-info li {
    display: flex;
    flex-wrap: wrap;
    column-gap: .75rem;
    color: #333;
    font-size: .875rem;
}

.detail_summary li+li, .detail_basic-info>li>ul li+li {
    margin-top: 12px;
}

.detail_basic-info {
    border-bottom: 1px solid #f0f0f0;
    margin: 0;
    padding: 0;
}

.detail_basic-info>li {
    border-top: 1px solid #f0f0f0;
    padding: 19px 0 20px;
}

.detail_basic-info>li>ul {
    padding: 5px 0 4px;
    width: 100%;
}

.detail_bi-title+div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 132px);
}

.detail_rating {
    column-gap: .75rem;
}

.detail_rating-stars i {
    font-size: 1.1rem;
    margin-right: 2px;
}

.fa-star, .fa-star-half-o {
    color : #ffd700;
}

.fa-star-o {
    color: #e0e0e0;
}

.detail_rating-text {
    font-weight: 600;
}

.detail_rating-count {
    font-size: 0.8rem;
    color: #666;
}

.detail_price {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 1.25rem;
}

.detail_price b {
    font-size: 20px;
}

.detail_buy-link {
    margin-left: auto;
}

.detail_buy-link a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: .2rem;
}

.detail_buy-link a img {
    max-width: 50px;
}

/* 책 소개 섹션 */
.detail_description-section {
    padding: 0 50px 80px;
}

.detail_desc-title {
    font-size: 24px;
    margin-bottom: 1.25rem;
    line-height: 1;
}

.detail_description {
    word-break: break-all;
    line-height: 180%;
    font-weight: 400;
    color: #333;
}



@media screen and (max-width: 1023px) {

    .detail_container > .detail_contents:first-child {
        padding-top: 40px;
    }

    .detail_button-area {
        position: absolute;
        top: 0;
        right: 1.25rem;
        margin-right: 0;
        display: flex;
        z-index: 10;
    }

    .detail_button-area button {
        width: 40px;
        height: 40px;
        background-size: 20px;
        font-size: 1.5rem;
    }

    .detail_button-link {
        margin-bottom: 0;
        margin-right: 8px;
    }

    .detail_book-detail {
        flex-direction: column;
        padding-bottom: 40px;
        position: relative;
    }

    .detail_thumb {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
        display: flex;
        justify-content: center;
    }

    .detail_thumb img {
        width: auto;
        max-width: 280px;
        max-height: 400px;
    }

    .detail_book-detail .detail_thumb .detail_m_bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0000004d;
        background-position: center;
        background-size: cover;
        filter: blur(10px);
        opacity: 0.3;
        z-index: -1;
    }

    .detail_book-info {
        width: 100%;
    }

    .detail_bi-title {
        width: 80px;
    }

    .detail_bi-title+div {
        width: calc(100% - 92px);
    }

    .detail_description-section {
        padding: 0 1.25rem 60px;
    }

    .detail_desc-title {
        font-size: 20px;
    }

}

